# Provided from @BotFather
TOKEN=YOUR_BOT_TOKEN

# Remember that every bot username should end with 'bot'
BOT_USERNAME=@your_username_bot

# Channel
CHANNEL_CHAT_ID=12345678
DEVELOPER_CHAT_ID=12345678

# Serie A Calendar
SERIE_A_CALENDAR_URL="https://fixturedownload.com/download/serie-a-{current_year}-WEuropeStandardTime.csv"
SERIE_A_CALENDAR_PATH=seriea_calendar.csv